<div class="row mt-3">
    <div class="col-md-6" style="border-right: solid 1px #ddd;">
        <h4>ToDo List</h4>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Repeat</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="toDoList.length > 0; else notodolist">
                    <tr *ngFor="let list of toDoList; let i = index">
                        <td>
                            <span class="custom-control custom-checkbox">
                                <input id="checkbox_{{i}}" type="checkbox" name="checkedrecord" (click)="checkedData(i)"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="checkbox_{{i}}"></label>
                            </span>
                        </td>
                        <td>{{list.taskName}}</td>
                        <td>{{list.taskDescription}}</td>
                        <td>{{list.repeatingTask}}</td>
                    </tr>
                </ng-container>
                <ng-template #notodolist>
                    <tr _ngcontent-crq-c41="" style="text-align: center;">
                        <td colspan="4">Not Todo List Available</td>
                    </tr>
                </ng-template>
                
            </tbody>
        </table>

        <!-- <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let list of toDoList; let i = index">
                <div class="card">
                    <div class="card-body">
                        <span class="card-title">{{list.taskName}}</span>
                        <span class="checkbox-right custom-control custom-checkbox">
                            <input id="checkbox_{{i}}" type="checkbox" name="checkedrecord" (click)="checkedData(i)"
                                class="custom-control-input">
                            <label class="custom-control-label" for="checkbox_{{i}}"></label>
                        </span>
                        <p class="card-text">{{list.taskDescription}}</p>
                    </div>
                </div>
            </div>
        </div> -->

    </div>

    <div class="col-md-6">
        <app-done-list-component [doneList]="doneList" (passData)="receiveData($event)"></app-done-list-component>
    </div>
</div>