input.ng-touched, textarea.ng-touched{
    border-left: solid 5px red;
}

input.ng-valid, textarea.ng-valid{
    border-left: solid 5px green;
}

div#addtodo {
    padding: 2rem 2rem;
}
.error{
    color:red;
}