<div class="container-fluid">
    <div class="row mt-3">
        <!--Add ToDo-->
        <div class="col-md-4 offset-4 jumbotron" id="addtodo">
            <h4 class="text-center">Basic ToDo list app</h4>
            <form #taskForm="ngForm" class="mt-4">
                <div class="form-group">
                    <label for="taskName">Task Name</label>
                    <input type="text" name="taskName" class="form-control" ngModel required #taskname="ngModel" placeholder="Task Name">
                    <span *ngIf = "taskname.invalid && taskname.touched" class="error">Field is required</span>
                </div>
                
                <div class="form-group">
                    <label for="taskDescription">Task Description</label>
                    <textarea row="3" col="2" name="taskDescription" class="form-control" #taskdescription="ngModel" ngModel required ></textarea>
                    <span *ngIf = "taskdescription.invalid && taskdescription.touched" class="error">Field is required</span>
                </div>

                <div class="form-group">
                    <label for="repeatingTask">Repeating Task</label>
                    <select class="form-control" name="repeatingTask" #repeatingtask="ngModel" ngModel required (change)="onSubmit(taskForm.value, taskForm)">
                      <option>Y</option>
                      <option>N</option>
                    </select>
                    <!-- <span *ngIf = "repeatingtask.invalid && repeatingtask.touched" class="error">Field is required</span> -->
                </div>
            </form>
        </div>
        <!--End Add ToDo-->     
    </div>

    <!--ToDo List-->
    <app-to-do-list-component [toDoList]="toDoListData"></app-to-do-list-component>
    <!--End ToDo List-->
</div>