
<h4>ToDo Done List</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Repeat</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="doneList.length > 0; else donetodolist">
            <tr *ngFor="let data of doneList; let i = index">
                <td>
                    <span class="custom-control custom-checkbox">
                        <input id="checkboxdone_{{i}}" class="custom-control-input" type="checkbox" checked name="checkedrecord" (click)="checkedDoneData(i)">
                        <label class="custom-control-label" for="checkboxdone_{{i}}"></label>
                    </span>    
                </td>
                <td>{{data.taskName}}</td>
                <td>{{data.taskDescription}}</td>
                <td>{{data.repeatingTask}}</td>
            </tr>
        </ng-container>
        <ng-template #donetodolist>
            <tr _ngcontent-crq-c41="" style="text-align: center;">
                <td colspan="4">Not Done Todo List Available</td>
            </tr>
        </ng-template>
    </tbody>
</table>

<!-- <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let data of doneList; let i = index">
        <div class="card">
            <div class="card-body">
                <span class="card-title">{{data.taskName}}</span>
                <span class="checkbox-right custom-control custom-checkbox">
                    <input id="checkboxdone_{{i}}" class="custom-control-input" type="checkbox" checked name="checkedrecord" (click)="checkedDoneData(i)">
                    <label class="custom-control-label" for="checkboxdone_{{i}}"></label>
                </span>
                <p class="card-text">{{data.taskDescription}}</p>
            </div>
        </div>
    </div>
</div> -->